rules_version = '2';
service cloud.firestore {
  function isAdmin() {
    return isAuthenticated() && request.auth.token.role == 'admin';
  }

  function isManager() {
    return isAuthenticated() && request.auth.token.role == 'manager';
  }

  function isAuthenticated() {
    return request.auth.uid != null;
  }

  function createBySelf() {
    return request.auth.uid == request.resource.data.uid;
  }

  function readBySelf() {
    return request.auth.uid == resource.data.uid;
  }

  function updateBySelf() {
    return request.auth.uid == resource.data.uid && resource.data.uid == request.resource.data.uid;
  }

  function deleteBySelf() {
    return request.auth.uid == resource.data.uid;
  }

  match /databases/{database}/documents {

    // match /{document=**} {
    //   allow read, write: if isAdmin();
    // }

    match /users/{uid} {
      allow create: if createBySelf() || isAdmin() || isManager();
      allow read: if readBySelf() || isAdmin() || isManager();
      allow update: if updateBySelf() || isAdmin() || isManager();
      allow delete: if deleteBySelf() || isAdmin() || isManager();
    }

    match /meals/{mealId} {
      allow create: if createBySelf() || isAdmin();
      allow read: if readBySelf() || isAdmin();
      allow update: if updateBySelf() || isAdmin();
      allow delete: if deleteBySelf() || isAdmin();
    }
  }
}
