rules_version = '2';
service cloud.firestore {
  function isAdmin() {
    return false;
  }

  function isAuthenticated() {
    return request.auth.uid != null;
  }

  function createBySelf() {
    return request.auth.uid == request.resource.data.uid;
  }

  function readBySelf() {
    return request.auth.uid == resource.data.uid;
  }

  function updateBySelf() {
    return request.auth.uid == resource.data.uid && resource.data.uid == request.resource.data.uid;
  }

  function deleteBySelf() {
    return request.auth.uid == resource.data.uid;
  }

  match /databases/{database}/documents {

    match /{document=**} {
      allow read, write: if isAdmin();
    }

    match /users/{uid} {
      // todo: add admin role to the rules
      allow create: if createBySelf();
      allow read: if readBySelf();
      allow update: if updateBySelf();
      allow delete: if deleteBySelf();
    }

    match /meals/{mealId} {
      // todo: add admin role to the rules
      allow create: if createBySelf();
      allow read: if readBySelf();
      allow update: if updateBySelf();
      allow delete: if deleteBySelf();
    }
  }
}
