<div fxLayout="row">
  <div fxFlex>
    <h2>
      All Users
    </h2>
  </div>

  <div fxLayout="row" fxFlexAlign="end">
    <button mat-flat-button color="accent" (click)="create()">
      New User
    </button>
  </div>
</div>

<mat-card fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"
          fxLayoutGap="10px" *ngFor="let user of (users$ | async)">
  <strong fxFlex fxFlexAlign="center center">{{user.displayName}}</strong>
  <div fxFlex fxFlexAlign="center">{{user.email}}</div>
  <div fxFlex fxFlexAlign="center">
    <mat-chip-list>
      <mat-chip>{{user.role}}</mat-chip>
    </mat-chip-list>
  </div>

  <div fxLayout="row">
    <button mat-icon-button (click)="editUser(user)">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteUser(user)">
      <mat-icon>delete_sweep</mat-icon>
    </button>
  </div>
</mat-card>

