mat-card {
  margin: 20px 0;
  min-width: 30vw;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  min-width: 30vw;
}

.role-chip {
  min-width: 90px;
  @media (max-width: 600px) {
    min-width: 0px;
  }
}
