<app-page-title title="All Users">
  <button mat-flat-button color="accent" (click)="create()">
    New User
  </button>
</app-page-title>

<mat-card fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
          *ngFor="let user of users">
  <strong fxFlex>{{user.displayName}}</strong>
  <div fxFlex dir="rtl">{{user.email}}</div>
  <div class="role-chip">
    <mat-chip-list dir="rtl">
      <mat-chip>{{user.role}}</mat-chip>
    </mat-chip-list>
  </div>

  <div fxLayout="row"
       fxLayoutGap="10px">
    <button mat-mini-fab color="primary" (click)="editUser(user)">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="deleteUser(user)">
      <mat-icon>delete_sweep</mat-icon>
    </button>
  </div>
</mat-card>

